*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    color: white;
    flex-direction: column;
    padding: 50px;
}
h1 {
    margin-bottom: 10px;
}

.one {
    /* background: rgb(36, 164, 138);    */
    background: url('../imgs/travel1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.two {
    background: rgb(211, 79, 79);
}
.three {
    background: rgb(67, 91, 175);
}
.four {
    background: lightsalmon;
}